
<!-- check Email -->
<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto d-block fromEmail">
    <h1 class="h3">forget password:</h1>
    <form [formGroup]="emailForm" (ngSubmit)="checkEmail()">
        <div>
            <label for="">email:</label>
            <input type="text" class="form-control" placeholder="Please Enter your email" formControlName="email">
        </div>

        <button type="submit" class="btn btn-main mt-3">
            submit
        </button>

    </form>
</section>

<!-- check Verify Code -->

<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto d-none verifyForm">
    <h1 class="h3">Verify Code :</h1>
    <form [formGroup]="VerifyForm" (ngSubmit)="checkVerifyCode()">
        <div>
            <label for="">Verify Code:</label>
            <input type="text" class="form-control" placeholder="Please Enter Verify Code" formControlName="resetCode">
        </div>

        <button type="submit" class="btn btn-main mt-3">
            submit
        </button>

    </form>
</section>

<!-- Set New Password -->

<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto d-none newPassForm">
    <h1 class="h3">Set New Password :</h1>
    <form [formGroup]="setNewPasswordForm" (ngSubmit)="changePassword()">

        <div>
            <label for="">email:</label>
            <input type="text" class="form-control" placeholder="Please Enter your email" formControlName="email">
        </div>

        <div>
            <label for="">New Password:</label>
            <input type="text" class="form-control" placeholder="Please Enter New Password" formControlName="newPassword">
        </div>

        <button type="submit" class="btn btn-main mt-3">
            submit
        </button>

    </form>
</section>

