


<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1>update password</h1>
    <form [formGroup]="updatePasswordFrom" (ngSubmit)="handleForm()">
        <div>
            <label for="currentPassword">currentPassword:</label>
            <input type="text" id="currentPassword" class="form-control" formControlName="currentPassword">
        </div>

        <div>
            <label for="password">password:</label>
            <input type="text" id="password" class="form-control" formControlName="password">
        </div>

        <div>
            <label for="rePassword">rePassword:</label>
            <input type="text" id="rePassword" class="form-control" formControlName="rePassword">
        </div>

        
            <div class="d-flex justify-content-between align-items-center">
                <a routerLink="/setting/forget" class="text-primary">forget password</a>
        

                <button type="submit" class="btn-main d-block ms-auto mt-3">
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    update Password
                </button>
            </div>


    </form>
</section>



